*, 
*:before, 
*:after {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.board {
    width:80vw;
    height: 80vw;
    border: 2px solid #efefef;
    overflow: hidden;
}

.board div {
    display: block;
    float: left;
    width: 33.333%;
    height: 33.333%;
    border: 2px solid #efefef;
}

.board .x {
    background: white url('/img/tictactoe.png') no-repeat center 5px;
}

.board .o {
    background: white url('/img/tictactoe.png') no-repeat center -75px;
}

.board .x, 
.board .o {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}